#PHPStorm
/.idea/


/.vagrant/machines/default/virtualbox/action_set_name
/.vagrant/machines/default/virtualbox/id
/.vagrant/machines/default/virtualbox/index_uuid
/.vagrant/machines/default/virtualbox/creator_uid

private_key
synced_folders
action_provision
disk.vdi


/csgo/*
